<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
 	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="UserMapper">
 	<select id="listUsers" resultType="github.kimunche.dog.dto.UserDto">
 		select
 			seq,
 			user_id as userId,
 			user_email as userEmail
 		 from users;
 	</select>
 	 	<select id="ListDogs" resultType="github.kimunche.dog.dto.PictureDto">
 		select
 			seq,
 			url,
 			origin
 		 from pics;
 	</select>
 	
 	<insert id="insertPicture" parameterType="github.kimunche.dog.dto.PictureDto">
 	INSERT INTO pics (
		url,
		origin
	) VALUES (
		#{url},
		#{origin})
 	</insert>
 </mapper>